n8n/den-workspace-ai-news-radar-site-api.json
{
  "name": "Den Workspace - AI News Radar DW Bot - Site API",
  "nodes": [
    {
      "parameters": {},
      "id": "ce61b4c6-f2b0-486a-aafd-ee57373264e4",
      "name": "Manual Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16336,
        9248
      ]
    },
    {
      "parameters": {
        "jsCode": "const feeds = [\n  'https://www.theverge.com/rss/index.xml',\n  'https://techcrunch.com/category/artificial-intelligence/feed/',\n  'https://www.technologyreview.com/feed/',\n  'https://venturebeat.com/category/ai/feed/',\n  'https://www.artificialintelligence-news.com/feed/',\n  'https://spectrum.ieee.org/rss/robotics/fulltext',\n  'https://www.robotics247.com/rss',\n  'https://www.unite.ai/feed/'\n];\n\nreturn feeds.map(url => ({ json: { url } }));"
      },
      "id": "d372e21b-8a7d-47e3-918d-6baed2b3522d",
      "name": "Build RSS Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16768,
        9088
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "5f8b8f73-d062-499d-96e6-e5d3c1bf1811",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        17024,
        9088
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction clean(v) {\n  return String(v || '').replace(/\\s+/g, ' ').trim();\n}\n\nreturn items.map(({ json }) => {\n  const url = json.link || json.guid || json.url;\n  const title = clean(json.title);\n  const text = clean(json.content || json.contentSnippet || json.description || json.text || title);\n  if (!url || !title) return null;\n\n  const joined = `${title} ${text}`;\n  const locale = /[а-яё]/i.test(joined) ? 'ru' : 'en';\n\n  return {\n    json: {\n      externalId: String(json.guid || url).slice(0, 500),\n      sourcePlatform: 'rss',\n      sourceName: clean(json.feedTitle || json.creator || json.author || 'RSS / News').slice(0, 180),\n      sourceUrl: String(url),\n      canonicalUrl: String(url).split('#')[0],\n      author: json.creator || json.author || null,\n      locale,\n      title: title.slice(0, 500),\n      rawContent: text || title,\n      imageUrl: json.imageUrl || json.enclosure?.url || null,\n      publishedAt: json.isoDate || json.pubDate || null,\n      category: 'ai',\n      sourceScore: 12\n    }\n  };\n}).filter(Boolean);\n"
      },
      "id": "cdec1199-44be-48fc-b7fb-eefc452941e4",
      "name": "Normalize RSS Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17280,
        9088
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst queries = String(\"AI agents,robotics,humanoid robots,future tech,automation,OpenAI,Claude,Gemini\" || 'AI agents,robotics,humanoid robots,future tech,automation,OpenAI,Claude,Gemini')\n  .split(',')\n  .map(s => s.trim())\n  .filter(Boolean);\n\nconst after = Math.floor((Date.now() - 48 * 60 * 60 * 1000) / 1000);\n\nreturn queries.map(query => ({\n  json: {\n    query,\n    after,\n    hitsPerPage: 25\n  }\n}));\n"
      },
      "id": "1899b504-c3f5-4f5c-850e-a387c9844d70",
      "name": "Build HN Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16768,
        9328
      ]
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search_by_date",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tags",
              "value": "story"
            },
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "hitsPerPage",
              "value": "={{ $json.hitsPerPage }}"
            },
            {
              "name": "numericFilters",
              "value": "=created_at_i>{{ $json.after }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "ec093c47-2eab-4b19-ab90-c3ef29194865",
      "name": "Fetch Hacker News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17024,
        9328
      ]
    },
    {
      "parameters": {
        "jsCode": "const hits = $json.hits || [];\nconst blockShowHN = true;\n\nreturn hits\n  .filter(hit => hit && hit.title && (hit.url || hit.objectID))\n  .filter(hit => {\n    if (!blockShowHN) return true;\n\n    const title = String(hit.title || '').trim().toLowerCase();\n\n    // Убираем Show HN:, Show HN -, Show HN –\n    return !/^show hn\\s*[:\\-–]/i.test(title);\n  })\n  .slice(0, 20)\n  .map(hit => {\n    const discussion = 'https://news.ycombinator.com/item?id=' + hit.objectID;\n    const sourceUrl = hit.url || discussion;\n    const points = Number(hit.points || 0);\n    const comments = Number(hit.num_comments || 0);\n\n    const raw = [\n      hit.title,\n      hit.story_text || '',\n      'HN points: ' + points,\n      'HN comments: ' + comments,\n      'Discussion: ' + discussion\n    ].filter(Boolean).join('\\n');\n\n    return {\n      json: {\n        externalId: 'hn:' + hit.objectID,\n        sourcePlatform: 'manual',\n        sourceName: 'Hacker News',\n        sourceUrl,\n        canonicalUrl: String(sourceUrl).split('#')[0],\n        author: hit.author || null,\n        locale: 'en',\n        title: String(hit.title).slice(0, 500),\n        rawContent: raw,\n        imageUrl: null,\n        publishedAt: hit.created_at || null,\n        category: 'ai',\n        hnPoints: points,\n        hnComments: comments,\n        discussionUrl: discussion,\n\n        // Сниженный вес Hacker News\n        sourceScore: 4 + Math.min(10, comments * 0.2) + Math.min(5, points * 0.03)\n      }\n    };\n  });"
      },
      "id": "b3a37902-8f23-4863-92ea-281ef345097b",
      "name": "Normalize HN Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17280,
        9328
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst queries = String(\"AI agents future of work,humanoid robots,AI robotics debate,future tech AI\" || 'AI agents future of work,humanoid robots,AI robotics debate,future tech AI')\n  .split(',')\n  .map(s => s.trim())\n  .filter(Boolean);\n\nreturn queries.map(query => ({ json: { query } }));\n"
      },
      "id": "c40a1660-7419-43ba-b528-69bd9487868d",
      "name": "Build YouTube Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16768,
        9568
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "maxResults",
              "value": "8"
            },
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "key",
              "value": "AIzaSyDYDgz8fE1NLIKqgfJTTQT7f2rfNLih5aI"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "videoDuration",
              "value": "medium"
            },
            {
              "name": "relevanceLanguage",
              "value": "en"
            },
            {
              "name": "regionCode",
              "value": "US"
            },
            {
              "name": "safeSearch",
              "value": "none"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "59213e29-d8f5-459a-9823-bd28a884db5a",
      "name": "YouTube Search Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17024,
        9568
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst list = $json.items || [];\n\nreturn list.map(item => {\n  const videoId = item.id?.videoId;\n  if (!videoId) return null;\n\n  const s = item.snippet || {};\n  const url = 'https://www.youtube.com/watch?v=' + videoId;\n  const title = String(s.title || '').replace(/\\s+/g, ' ').trim();\n  if (!title) return null;\n\n  const raw = [\n    title,\n    s.description || '',\n    'Channel: ' + (s.channelTitle || 'YouTube')\n  ].join('\\n');\n\n  return {\n    json: {\n      externalId: 'youtube:' + videoId,\n      sourcePlatform: 'manual',\n      sourceName: 'YouTube',\n      sourceUrl: url,\n      canonicalUrl: url,\n      author: s.channelTitle || null,\n      locale: 'en',\n      title: title.slice(0, 500),\n      rawContent: raw,\n      imageUrl: s.thumbnails?.high?.url || s.thumbnails?.medium?.url || null,\n      publishedAt: s.publishedAt || null,\n      category: 'ai',\n      sourceScore: 7\n    }\n  };\n}).filter(Boolean);\n"
      },
      "id": "81db77b8-dd17-4b6b-adfa-eb1d41f4010f",
      "name": "Normalize YouTube Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17280,
        9568
      ]
    },
    {
      "parameters": {},
      "id": "656acece-91a6-49d6-b7f1-2d66a6cfbbd0",
      "name": "Merge RSS + HN",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        17584,
        9216
      ]
    },
    {
      "parameters": {},
      "id": "535df17b-1c6a-4c45-9bdc-b56301643926",
      "name": "Merge All Candidates",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        17840,
        9392
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction clean(v) {\n  return String(v || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction norm(v) {\n  return clean(v)\n    .toLowerCase()\n    .replace(/https?:\\/\\/(www\\.)?/g, '')\n    .replace(/[^a-zа-яё0-9\\s]/gi, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction escapeHtml(v) {\n  return String(v || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\n\nfunction ageHours(publishedAt) {\n  if (!publishedAt) return 24;\n  const t = new Date(publishedAt).getTime();\n  if (!Number.isFinite(t)) return 24;\n  return Math.max(0, (Date.now() - t) / 36e5);\n}\n\nfunction freshnessScore(hours) {\n  if (hours <= 3) return 30;\n  if (hours <= 6) return 27;\n  if (hours <= 12) return 23;\n  if (hours <= 24) return 18;\n  if (hours <= 48) return 12;\n  return 4;\n}\n\nfunction domainOf(url) {\n  try { return new URL(url).hostname.replace(/^www\\./, ''); } catch { return ''; }\n}\n\nconst authorityDomains = [\n  'openai.com','anthropic.com','deepmind.google','googleblog.com','microsoft.com',\n  'nvidia.com','meta.com','tesla.com','figure.ai','unitree.com','reuters.com',\n  'bloomberg.com','theverge.com','techcrunch.com','wired.com','technologyreview.com',\n  'arstechnica.com','semianalysis.com','news.ycombinator.com'\n];\n\nconst relevanceTerms = [\n  'ai','artificial intelligence','agent','agents','robot','robotics','humanoid',\n  'future tech','automation','openai','anthropic','claude','chatgpt','gemini',\n  'deepmind','nvidia','tesla bot','figure','unitree','agi','coding agent',\n  'модель','робот','робототехника','искусственный интеллект','агент'\n];\n\nconst debateTerms = [\n  'lawsuit','ban','safety','regulation','controversy','risk','replace','jobs',\n  'privacy','security','censorship','bubble','hype','layoffs','опасность','риск',\n  'регулятор','запрет','заменит','увольнения','цензура','пузырь'\n];\n\nconst rowsRaw = items.map(i => i.json).filter(r => r && r.title && r.sourceUrl);\n\nconst byKey = new Map();\n\nfor (const row of rowsRaw) {\n  const titleNorm = norm(row.title);\n  const canonical = clean(row.canonicalUrl || row.sourceUrl).split('#')[0];\n  const key = canonical || titleNorm.split(' ').slice(0, 10).join('-');\n\n  const blob = norm(`${row.title} ${row.rawContent || ''}`);\n  const hours = ageHours(row.publishedAt);\n  const domain = domainOf(row.sourceUrl);\n  const authority = authorityDomains.some(d => domain.includes(d)) ? 18 : 5;\n  const relevance = relevanceTerms.reduce((sum, term) => sum + (blob.includes(norm(term)) ? 4 : 0), 0);\n  const debate = debateTerms.reduce((sum, term) => sum + (blob.includes(norm(term)) ? 3 : 0), 0);\n  const platformScore = Number(row.sourceScore || 0);\n  const scoreRaw = freshnessScore(hours) + authority + relevance + debate + platformScore;\n  const score = Math.max(1, Math.min(10, Math.round((scoreRaw / 10) * 10) / 10));\n\n  const enriched = {\n    ...row,\n    score,\n    scoreRaw,\n    ageHours: Math.round(hours * 10) / 10,\n    domain,\n    reasons: [\n      `freshness:${freshnessScore(hours)}`,\n      `authority:${authority}`,\n      `relevance:${relevance}`,\n      `debate:${debate}`,\n      `source:${Math.round(platformScore * 10) / 10}`\n    ]\n  };\n\n  if (!byKey.has(key) || byKey.get(key).scoreRaw < enriched.scoreRaw) {\n    byKey.set(key, enriched);\n  }\n}\n\nconst top = [...byKey.values()]\n  .sort((a, b) => b.scoreRaw - a.scoreRaw)\n  .slice(0, 10)\n  .map((row, index) => ({\n    ...row,\n    rank: index + 1\n  }));\n\nif (!top.length) {\n  return [{\n    json: {\n      payload: {\n        chat_id: \"-1004312670393\",\n        message_thread_id: Number(\"2\" || 0) || undefined,\n        text: 'AI News Radar: новых кандидатов не найдено.',\n        parse_mode: 'HTML'\n      }\n    }\n  }];\n}\n\nconst radarId = `r${Date.now().toString(36)}`;\n\nconst store = $getWorkflowStaticData('global');\n\nstore.radars = store.radars || {};\nstore.latestRadar = {\n  id: radarId,\n  createdAt: new Date().toISOString(),\n  top\n};\n\nstore.radars[radarId] = store.latestRadar;\nstore.latestRadarId = radarId;\n\n// cleanup old radars\nconst keys = Object.keys(store.radars);\nif (keys.length > 30) {\n  keys\n    .sort((a,b) => String(store.radars[a].createdAt).localeCompare(String(store.radars[b].createdAt)))\n    .slice(0, keys.length - 30)\n    .forEach(k => delete store.radars[k]);\n}\n\nconst lines = [\n  '<b>🧠 Den’s Workspace AI News Radar — TOP 10</b>',\n  '',\n  'Выбери новость кнопкой или ответь цифрой <b>1–10</b>.',\n  '',\n  ...top.map(row => {\n    const title = escapeHtml(row.title);\n    const url = escapeHtml(row.sourceUrl);\n    const source = escapeHtml(row.sourceName || row.domain || 'source');\n    const age = row.ageHours <= 24 ? `${row.ageHours}h` : `${Math.round(row.ageHours / 24)}d`;\n    return `${row.rank}) 🔥 <b>${row.score}/10</b> · <a href=\"${url}\">${title}</a>\\nИсточник: ${source} · ${age}`;\n  })\n];\n\nconst buttons = top.map(row => ({\n  text: `${row.rank}`,\n  callback_data: `select:${radarId}:${row.rank}`\n}));\n\nconst inline_keyboard = [\n  buttons.slice(0, 5),\n  buttons.slice(5, 10)\n].filter(row => row.length);\n\nconst payload = {\n  chat_id: \"-1004312670393\",\n  message_thread_id: Number(\"2\" || 0) || undefined,\n  text: lines.join('\\n\\n'),\n  parse_mode: 'HTML',\n  disable_web_page_preview: true,\n  reply_markup: { inline_keyboard }\n};\n\nObject.keys(payload).forEach(key => payload[key] === undefined && delete payload[key]);\n\nreturn [{ json: { radarId, top, payload } }];\n"
      },
      "id": "9fbfb9c0-6caf-4e2d-91e3-40c027e37809",
      "name": "Score + Store Top 10 Radar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18128,
        9392
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "3f0589ff-d312-4c7e-8b0c-0c24765452d2",
      "name": "Send Top 10 To Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        18432,
        9392
      ]
    },
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "id": "10d54654-5049-4dc3-8a5b-58aabda51de3",
      "name": "Telegram Selection Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        16336,
        10256
      ],
      "webhookId": "a9a56b0e-9991-4525-b3d0-79e6ab7600f6",
      "credentials": {
        "telegramApi": {
          "id": "ecEuTVnjufwKcDeU",
          "name": "DW"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nconst callback = $json.callback_query;\nconst message = $json.message;\n\nlet action = '';\nlet radarId = '';\nlet rank = 0;\nlet callbackQueryId = null;\nlet chatId = '';\nlet messageThreadId = '';\nlet callbackMessageText = '';\nlet callbackMessageEntities = [];\nlet fromId = '';\nlet fromUsername = '';\n\nif (callback?.data) {\n  const parts = String(callback.data).split(':');\n  action = parts[0] || '';\n  radarId = parts[1] || store.latestRadarId || 'latest';\n  rank = Number(parts[2] || 0);\n  callbackQueryId = callback.id || null;\n  const cbMessage = callback.message || {};\n  chatId = cbMessage.chat?.id || \"-1004312670393\";\n  messageThreadId = cbMessage.message_thread_id || \"2\";\n  callbackMessageText = cbMessage.text || cbMessage.caption || '';\n  callbackMessageEntities = cbMessage.entities || cbMessage.caption_entities || [];\n  fromId = callback.from?.id || '';\n  fromUsername = callback.from?.username || '';\n} else if (message?.text) {\n  const text = String(message.text).trim();\n  const numberMatch = text.match(/^(10|[1-9])$/);\n  if (numberMatch) {\n    action = 'select';\n    radarId = store.latestRadarId || 'latest';\n    rank = Number(numberMatch[1]);\n  } else if (/^(да|yes|y|publish|site|✅)/i.test(text)) {\n    action = 'publish_site';\n  } else if (/^(нет|no|n|skip|🚫)/i.test(text)) {\n    action = 'skip_site';\n  }\n  chatId = message.chat?.id || \"-1004312670393\";\n  messageThreadId = message.message_thread_id || \"2\";\n  fromId = message.from?.id || '';\n  fromUsername = message.from?.username || '';\n}\n\nreturn [{\n  json: {\n    action,\n    radarId,\n    rank,\n    callbackQueryId,\n    chatId,\n    messageThreadId,\n    callbackMessageText,\n    callbackMessageEntities,\n    fromId,\n    fromUsername,\n  }\n}];"
      },
      "id": "b374679e-6379-426b-9225-6397daa1225d",
      "name": "Parse Telegram Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16592,
        10256
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "select",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "publishsite",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skipsite",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "62477754-0ba2-47ce-b8af-be2619a085dc",
      "name": "Switch Telegram Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        16864,
        10240
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst store = $getWorkflowStaticData('global');\n\nfunction clean(v) {\n  return String(v || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction cleanUrl(v) {\n  try {\n    const url = new URL(String(v));\n    url.hash = '';\n    for (const key of ['utm_source', 'utm_medium', 'utm_campaign', 'utm_term', 'utm_content', 'fbclid', 'gclid']) {\n      url.searchParams.delete(key);\n    }\n    return url.toString();\n  } catch (e) {\n    return String(v || '').trim();\n  }\n}\n\nfunction domainFromUrl(v) {\n  try {\n    return new URL(v).hostname.replace(/^www\\./, '');\n  } catch (e) {\n    return '';\n  }\n}\n\nfunction parseSelectedFromTelegramMessage(input) {\n  const text = String(input.callbackMessageText || '');\n  const rank = Number(input.rank || 0);\n  if (!text || !rank) return null;\n\n  const lines = text.split(/\\r?\\n/);\n  let offset = 0;\n  let lineStart = 0;\n  let rankLine = '';\n  let rankLineIndex = -1;\n\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i] || '';\n    if (new RegExp('^' + rank + '\\\\)').test(line.trim())) {\n      lineStart = offset;\n      rankLine = line;\n      rankLineIndex = i;\n      break;\n    }\n    offset += line.length + 1;\n  }\n\n  if (!rankLine) return null;\n\n  const lineEnd = lineStart + rankLine.length;\n  const entities = Array.isArray(input.callbackMessageEntities) ? input.callbackMessageEntities : [];\n  const linkEntity = entities.find(entity => {\n    const entityOffset = Number(entity.offset || 0);\n    return entity.type === 'text_link' && entity.url && entityOffset >= lineStart && entityOffset <= lineEnd;\n  });\n\n  const urlMatch = rankLine.match(/https?:\\/\\/\\S+/);\n  const sourceUrl = cleanUrl(linkEntity?.url || urlMatch?.[0] || '');\n  if (!sourceUrl) return null;\n\n  let title = clean(rankLine)\n    .replace(/^\\d+\\)\\s*/, '')\n    .replace(/^🔥\\s*/, '')\n    .replace(/^\\d+(?:\\.\\d+)?\\/10\\s*[·-]\\s*/, '')\n    .replace(/\\s*\\(https?:\\/\\/[^)]+\\)\\s*$/, '')\n    .trim();\n\n  if (!title) title = sourceUrl;\n\n  let sourceLine = '';\n  for (let i = rankLineIndex + 1; i < Math.min(lines.length, rankLineIndex + 4); i++) {\n    const candidate = clean(lines[i]);\n    if (/^(Источник|Source):/i.test(candidate)) {\n      sourceLine = candidate;\n      break;\n    }\n  }\n\n  const sourceClean = sourceLine.replace(/^(Источник|Source):\\s*/i, '');\n  const sourceName = clean(sourceClean.split('·')[0]) || domainFromUrl(sourceUrl) || 'Telegram selection';\n\n  return {\n    rank,\n    title,\n    sourceUrl,\n    canonicalUrl: sourceUrl,\n    sourceName,\n    author: sourceName,\n    rawContent: title,\n    imageUrl: null,\n    publishedAt: null,\n    fingerprint: sourceUrl,\n    score: null,\n    scoreRaw: null,\n    sourceScore: 0,\n    ageHours: null,\n    domain: domainFromUrl(sourceUrl),\n    reasons: ['Recovered from Telegram TOP-10 message because n8n staticData did not contain this radarId'],\n  };\n}\n\nstore.radars = store.radars || {};\n\nlet radar = store.radars?.[data.radarId];\nlet selected = null;\n\nif (radar && Array.isArray(radar.top)) {\n  selected = radar.top.find(item => Number(item.rank) === Number(data.rank));\n}\n\nif (!selected) {\n  selected = parseSelectedFromTelegramMessage(data);\n  if (selected) {\n    const recoveredId = data.radarId || ('recovered-' + Date.now().toString(36));\n    radar = {\n      id: recoveredId,\n      top: [selected],\n      recoveredFromTelegramMessage: true,\n      recoveredAt: new Date().toISOString(),\n    };\n    store.radars[recoveredId] = radar;\n    if (data.radarId) store.radars[data.radarId] = radar;\n  }\n}\n\nif (!selected) {\n  const available = Object.keys(store.radars || {}).join(', ') || 'none';\n  throw new Error(\n    'Radar not found or selected rank missing: radar=' + data.radarId + ', rank=' + data.rank + '. Available radars: ' + available + '. ' +\n    'This usually means Telegram handled a button from another workflow copy or old execution. Run TOP-10 again from the active workflow and click the new message.'\n  );\n}\n\nreturn [{\n  json: {\n    ...data,\n    radarId: radar?.id || data.radarId,\n    selected,\n  }\n}];"
      },
      "id": "1270fcd7-a7e8-4f41-ac64-c8cda58dd2b1",
      "name": "Get Selected News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17168,
        9904
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ selected: $json.selected, authorStyle: \"Коротко, по делу, с фокусом на будущее, ИИ, бизнес-смысл и практические последствия. Можно от первого лица, без канцелярита.\" || 'Коротко, по делу, с фокусом на будущее, AI, бизнес-смысл и практические последствия. Можно от первого лица, без канцелярита.' }) }}",
        "options": {
          "systemMessage": "Ты — редактор Den's Workspace.\n\nЗадача:\nСделать короткий Telegram-пост и image prompt по выбранной новости про AI / Robotics / Future Tech.\n\nЭто НЕ рерайт новости.\nЭто авторский комментарий: почему событие важно, что в нем спорного, куда это может вести, какой в этом сигнал для будущего.\n\nСтиль:\n- русский язык;\n- живой, умный, немного предпринимательский;\n- можно от первого лица, если уместно;\n- без дешевого кликбейта;\n- без воды и канцелярита;\n- короткие абзацы;\n- можно 1-3 эмодзи, но не перегружать;\n- не выдумывать факты, цифры, цитаты;\n- отделять факт новости от мнения;\n- обязательно оставить ощущение \"это мнение автора, а не переписанная новость\".\n\nОграничения:\n- Telegram text: 700–1200 символов.\n- В тексте обязательно должна быть мысль \"почему это важно\".\n- Не вставляй URL в текст: workflow добавит источник отдельно.\n- Используй HTML только для <b>...</b>. Не используй markdown **.\n\nImage prompt:\n- английский язык;\n- реалистичная премиальная editorial-сцена по теме AI / robotics / future tech;\n- без букв, текста, логотипов, интерфейсных надписей;\n- стиль: cinematic, photorealistic, premium tech editorial.\n\nВерни строго такой формат:\n\n[TEXT]\n...готовый Telegram-комментарий...\n[/TEXT]\n\n[IMAGE]\n...english image prompt...\n[/IMAGE]\n\n[QUESTION]\n...короткий вопрос: публикуем ли на сайт как авторское мнение?...\n[/QUESTION]",
          "maxIterations": 3
        }
      },
      "id": "cc8565a9-2b90-47f6-8d2c-d6f24adbe534",
      "name": "AI Telegram Commentary + Image Prompt",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        17440,
        9904
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst original = $('Get Selected News').first().json;\n\nconst rawOutput = String(\n  $json.output ||\n  $json.text ||\n  $json.response ||\n  $json.message ||\n  JSON.stringify($json)\n);\n\n// Parse [TEXT] / [IMAGE] / [QUESTION] safely\nconst textMatch = rawOutput.match(/\\[TEXT\\]([\\s\\S]*?)\\[\\/TEXT\\]/i);\nconst imgMatch = rawOutput.match(/\\[IMAGE\\]([\\s\\S]*?)\\[\\/IMAGE\\]/i);\nconst questionMatch = rawOutput.match(/\\[QUESTION\\]([\\s\\S]*?)\\[\\/QUESTION\\]/i);\n\nlet text = (textMatch ? textMatch[1] : rawOutput).trim();\nlet basePrompt = (imgMatch ? imgMatch[1] : `${original.selected.title}, AI future technology editorial scene`).trim();\nlet siteQuestion = (questionMatch ? questionMatch[1] : 'Будем публиковать на сайт как авторское мнение?').trim();\n\nfunction clean(v) {\n  return String(v || '')\n    .replace(/\\r/g, '')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\ntext = clean(text)\n  .replace(/```html/gi, '')\n  .replace(/```/g, '')\n  .trim();\n\nsiteQuestion = clean(siteQuestion).slice(0, 500) || 'Будем публиковать на сайт как авторское мнение?';\n\n// Safe Telegram caption limit\nconst MAX_CAPTION = 950;\nif (text.length > MAX_CAPTION) {\n  let cut = text.slice(0, MAX_CAPTION);\n  const sentenceCut = Math.max(cut.lastIndexOf('.'), cut.lastIndexOf('!'), cut.lastIndexOf('?'));\n  if (sentenceCut > 500) cut = cut.slice(0, sentenceCut + 1);\n  else {\n    const spaceCut = cut.lastIndexOf(' ');\n    if (spaceCut > 400) cut = cut.slice(0, spaceCut);\n  }\n  text = cut.trim();\n}\n\n// Image prompt anti-garbage cleanup, borrowed from News_Generation_PRO logic\nbasePrompt = clean(basePrompt)\n  .replace(/\\s*,\\s*/g, ', ')\n  .trim();\n\nconst banned = [\n  'abstract',\n  'digital streams',\n  'symbols',\n  'holograms',\n  'concept',\n  'cyberpunk',\n  'floating screens',\n  'glowing lines',\n  'text',\n  'letters',\n  'typography',\n  'logo',\n  'watermark'\n];\n\nfor (const w of banned) {\n  const re = new RegExp(`\\\\b${w.replace(/[-/\\\\^$*+?.()|[\\]{}]/g, '\\\\$&')}\\\\b`, 'ig');\n  basePrompt = basePrompt.replace(re, '');\n}\n\nbasePrompt = basePrompt\n  .replace(/\\s{2,}/g, ' ')\n  .replace(/,\\s*,/g, ',')\n  .trim();\n\nconst angles = [\n  'macro photography, extreme close up',\n  'isometric 3D view, elevated 45 degrees',\n  'low angle shot from below, dramatic',\n  'bird’s-eye view, looking straight down',\n  'over-the-shoulder perspective',\n  'first-person point of view',\n  'wide shot from a corner of a premium AI research lab'\n];\n\nconst lighting = [\n  'cinematic lighting, strong contrast',\n  'soft diffused natural light from window',\n  'moody dark shadows, single desk lamp',\n  'blue hour, twilight, dim',\n  'premium editorial studio lighting'\n];\n\nconst mood = [\n  'photorealistic, editorial technology photo',\n  'hyperrealistic, premium quality',\n  'documentary style',\n  'clean corporate realism'\n];\n\nconst extra = [\n  'reflection on a polished table',\n  'blurred city lights in background',\n  'a coffee cup with steam',\n  'an old analog clock on the wall',\n  'dust particles in the light beam',\n  'subtle futuristic lab atmosphere'\n];\n\nconst rand = (arr) => arr[Math.floor(Math.random() * arr.length)];\n\nlet finalPrompt = [\n  basePrompt || 'premium AI research lab, robotics and future technology, realistic editorial scene',\n  rand(angles),\n  rand(lighting),\n  rand(mood),\n  `additional detail: ${rand(extra)}`,\n  'cinematic lighting, photorealistic, premium tech editorial photo, no text, no letters, no typography, no logo, no watermark'\n]\n  .join(', ')\n  .replace(/\\s{2,}/g, ' ')\n  .replace(/,\\s*,/g, ',')\n  .trim();\n\nif (finalPrompt.length > 1000) {\n  finalPrompt = finalPrompt.slice(0, 1000).trim();\n  const lastComma = finalPrompt.lastIndexOf(',');\n  if (lastComma > 700) finalPrompt = finalPrompt.slice(0, lastComma).trim();\n  finalPrompt += ', no text, no letters, no typography, no logo, no watermark';\n}\n\nreturn [{\n  json: {\n    ...original,\n    ai: {\n      telegramCaption: text,\n      imagePrompt: finalPrompt,\n      siteQuestion\n    }\n  }\n}];\n"
      },
      "id": "dfe7c227-303a-4731-9884-ff2751ef4927",
      "name": "Parse AI Telegram Commentary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17920,
        10048
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.cloudflare.com/client/v4/accounts/\" + $env.CLOUDFLARE_ACCOUNT_ID + \"/ai/run/@cf/stabilityai/stable-diffusion-xl-base-1.0\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.CLOUDFLARE_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $('Parse AI Telegram Commentary').first().json.ai.imagePrompt }}"
            },
            {
              "name": "negative_prompt",
              "value": "blurry, bad quality, worst quality, low quality, abstract, cartoon, illustration, painting, collage, text, watermark, mutated hands, bad anatomy, bad proportions, disfigured, deformed, dirty colors, letters, typography, logo"
            },
            {
              "name": "num_steps",
              "value": "={{ 20 }}"
            },
            {
              "name": "cfg_scale",
              "value": "={{ 8 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "19414a81-e334-45dc-8f80-9527f4eb657f",
      "name": "Cloudflare Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        18208,
        10048
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst enriched = $('Parse AI Telegram Commentary').first().json;\nconst input = $input.first();\nconst binary = input.binary || {};\n\nfunction stripBadHtml(v) {\n  return String(v || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<\\/?(?!b\\b|\\/b\\b)[^>]+>/gi, '')\n    .trim();\n}\n\nconst sourceUrl = enriched.selected.sourceUrl;\nlet caption = stripBadHtml(enriched.ai.telegramCaption);\n\nif (!caption.includes(sourceUrl)) {\n  caption += `\\n\\nИсточник: ${sourceUrl}`;\n}\n\ncaption = caption.slice(0, 1000);\n\nconst payload = {\n  chat_id: \"-1004312670393\",\n  message_thread_id: Number(\"2\" || 0) || undefined,\n  caption,\n  parse_mode: 'HTML',\n  reply_markup: {\n    inline_keyboard: [[\n      { text: 'Открыть источник', url: sourceUrl }\n    ]]\n  }\n};\n\nObject.keys(payload).forEach(key => payload[key] === undefined && delete payload[key]);\n\nreturn [{\n  json: {\n    ...enriched,\n    imageUrl: enriched.selected.imageUrl || '',\n    telegramPayload: payload\n  },\n  binary\n}];\n"
      },
      "id": "e51aed2f-becf-4968-9282-6e7326575be4",
      "name": "Build Telegram News Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18480,
        10048
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Build Telegram News Post').first().json.telegramPayload.chat_id }}",
        "binaryData": true,
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Открыть источник",
                    "additionalFields": {
                      "url": "={{ $('Build Telegram News Post').first().json.selected.sourceUrl }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "caption": "={{ $('Build Telegram News Post').first().json.telegramPayload.caption }}",
          "parse_mode": "HTML",
          "message_thread_id": "={{ $('Build Telegram News Post').first().json.telegramPayload.message_thread_id }}"
        }
      },
      "id": "c3997df3-db64-4787-bee1-d15d8c5f92e0",
      "name": "Publish Selected News To Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        18768,
        10048
      ],
      "webhookId": "877c899e-610a-498a-9104-1c2aaf4b5d78",
      "credentials": {
        "telegramApi": {
          "id": "ecEuTVnjufwKcDeU",
          "name": "DW"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst enriched = $('Build Telegram News Post').first().json;\nconst publishResult = $json;\n\nconst store = $getWorkflowStaticData('global');\nstore.selectedNews = store.selectedNews || {};\nconst key = `${enriched.radarId}:${enriched.rank}`;\nstore.selectedNews[key] = {\n  ...enriched,\n  telegramPublishResult: publishResult,\n  savedAt: new Date().toISOString()\n};\n\nconst text = [\n  '✅ Новость опубликована в Telegram.',\n  '',\n  '<b>Публикуем на сайт как авторское мнение?</b>',\n  '',\n  enriched.ai.siteQuestion || '',\n  '',\n  'Источник: ' + enriched.selected.sourceUrl\n].join('\\n');\n\nconst payload = {\n  chat_id: \"-1004312670393\",\n  message_thread_id: Number(\"2\" || 0) || undefined,\n  text,\n  parse_mode: 'HTML',\n  disable_web_page_preview: true,\n  reply_markup: {\n    inline_keyboard: [[\n      { text: '✅ Да, в редакторскую сайта', callback_data: `publishsite:${enriched.radarId}:${enriched.rank}` },\n      { text: '🚫 Нет', callback_data: `skipsite:${enriched.radarId}:${enriched.rank}` }\n    ]]\n  }\n};\n\nObject.keys(payload).forEach(key => payload[key] === undefined && delete payload[key]);\n\nreturn [{ json: { payload, key } }];\n"
      },
      "id": "6fe6179f-8b87-4c46-b0be-d0ca197c06d9",
      "name": "Ask Publish To Site",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19040,
        10048
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "5628efeb-2601-4d74-8320-9f3fb089c1d0",
      "name": "Send Site Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19328,
        10048
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst payload = {\n  chat_id: \"-1004312670393\",\n  message_thread_id: Number(\"2\" || 0) || undefined,\n  text: 'Ок, на сайт не публикуем.',\n  parse_mode: 'HTML'\n};\nObject.keys(payload).forEach(key => payload[key] === undefined && delete payload[key]);\nreturn [{ json: { payload } }];\n"
      },
      "id": "bf9c1ffe-951b-470a-b19c-47dcf5d8b83a",
      "name": "Build Skip Site Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17168,
        10656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "45fe49b7-6052-4295-a55c-7dcaaf7de8ff",
      "name": "Send Skip Site Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17440,
        10656
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $json;\nconst store = $getWorkflowStaticData('global');\nconst key = `${data.radarId}:${data.rank}`;\nlet enriched = store.selectedNews?.[key];\n\nif (!enriched) {\n  const radar = store.radars?.[data.radarId];\n  const selected = radar?.top?.find(item => Number(item.rank) === Number(data.rank));\n  if (!selected) throw new Error(`No selected news found for site publish: ${key}`);\n  enriched = {\n    ...data,\n    selected,\n    ai: {\n      telegramCaption: '',\n      imagePrompt: '',\n      siteQuestion: ''\n    },\n    imageUrl: selected.imageUrl || ''\n  };\n}\n\nreturn [{ json: { ...data, ...enriched, storageKey: key } }];\n"
      },
      "id": "2f3fe9f5-e78d-4f2d-b82b-2fce87fd7327",
      "name": "Get News For Site Opinion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17168,
        10256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ news: $json.selected, telegramCommentary: $json.ai?.telegramCaption || '', imageUrl: $json.imageUrl || '', authorStyle: \"Коротко, по делу, с фокусом на будущее, ИИ, бизнес-смысл и практические последствия. Можно от первого лица, без канцелярита.\" || 'живой, прямой, предпринимательский, про будущее, AI, деньги, риски и практический смысл; без канцелярита; можно от первого лица.' }) }}",
        "options": {
          "systemMessage": "Верни строго в таком формате, без JSON и без markdown-блока:\n\n[TITLE]\nКороткий заголовок статьи\n[/TITLE]\n\n[SUMMARY]\nКраткое описание 1-2 предложения\n[/SUMMARY]\n\n[BODY]\nПолный текст статьи 2500-4500 символов.\n\nСтруктура:\n## Что произошло\n...\n\n## Почему это важно\n...\n\n## Мое мнение\n...\n\n## Риск / сомнение\n...\n\n## Источник\nСсылка на оригинальную новость.\n[/BODY]\n\n[SEO_TITLE]\nSEO title или пусто\n[/SEO_TITLE]\n\n[SEO_DESCRIPTION]\nSEO description или пусто\n[/SEO_DESCRIPTION]\n\n[TELEGRAM_TEXT]\nКороткий текст для Telegram или пусто\n[/TELEGRAM_TEXT]\n\n[CATEGORY]\nai\n[/CATEGORY]\n\n[TAGS]\nAI, Future Tech\n[/TAGS]\n\n[FACT_WARNINGS]\nЕсли есть сомнения по фактам — перечисли. Если нет — пусто.\n[/FACT_WARNINGS]",
          "maxIterations": 3
        }
      },
      "id": "122de4fb-a084-4e42-81be-8ed7978eac42",
      "name": "AI Site Opinion Article",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        17440,
        10256
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('node:crypto');\nconst parsed = $json;\nconst secret = $env.N8N_INTEGRATION_SECRET;\nif (!secret) throw new Error('N8N_INTEGRATION_SECRET is required for website API signing');\n\nfunction clean(value) {\n  return String(value || '').replace(/\\r/g, '').replace(/[ \\t]{2,}/g, ' ').trim();\n}\n\nfunction asUrl(value) {\n  const raw = clean(value).split('#')[0];\n  if (!raw) return null;\n  try {\n    return new URL(raw).toString();\n  } catch (error) {\n    return null;\n  }\n}\n\nfunction normalizePlatform(value) {\n  const raw = clean(value).toLowerCase();\n  if (['rss', 'reddit', 'x', 'threads', 'manual'].includes(raw)) return raw;\n  if (raw.includes('reddit')) return 'reddit';\n  if (raw === 'twitter' || raw.includes('twitter') || raw.includes('x.com')) return 'x';\n  if (raw.includes('thread')) return 'threads';\n  if (raw.includes('rss')) return 'rss';\n  return 'manual';\n}\n\nfunction isoDate(value) {\n  if (!value) return null;\n  const d = new Date(value);\n  return Number.isNaN(d.getTime()) ? null : d.toISOString();\n}\n\nconst source = parsed.selected || {};\nconst draft = parsed.draftRow || {};\nconst opinion = parsed.opinion || {};\nconst sourceUrl = asUrl(draft.source_url || source.sourceUrl || source.url);\nif (!sourceUrl) throw new Error('Selected source has no valid URL for /api/integrations/ingest');\nconst canonicalUrl = asUrl(draft.canonical_url || source.canonicalUrl || sourceUrl) || sourceUrl;\nconst title = clean(opinion.title || draft.title || source.title || 'Untitled editorial article');\nconst summary = clean(opinion.summary || draft.summary || title);\nconst rawContent = clean(source.rawContent || source.content || source.description || `${title}\\n\\n${summary}\\n\\n${sourceUrl}`);\nconst externalId = clean(draft.external_id || `opinion:${canonicalUrl}`).slice(0, 500);\nconst fingerprint = crypto.createHash('sha256').update(`${externalId}\\n${title}\\n${canonicalUrl}`).digest('hex');\n\nconst payload = {\n  externalId,\n  sourcePlatform: normalizePlatform(source.sourcePlatform || source.platform || source.sourceName),\n  sourceName: clean(draft.source_name || source.sourceName || 'AI News Radar').slice(0, 180),\n  sourceUrl,\n  canonicalUrl,\n  author: clean(draft.source_author || source.author) || null,\n  locale: 'ru',\n  title: title.slice(0, 500),\n  rawContent,\n  imageUrl: asUrl(draft.image_url || parsed.imageUrl || source.imageUrl),\n  publishedAt: isoDate(source.publishedAt || source.isoDate || source.date),\n  fingerprint: fingerprint.slice(0, 64),\n  category: clean(opinion.category || draft.category || source.category || 'ai').slice(0, 80)\n};\n\nconst rawBody = JSON.stringify(payload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', secret).update(rawBody).digest('hex');\n\nreturn [{ json: { ...parsed, siteApi: { ingestPayload: payload }, rawBody, signature } }];"
      },
      "id": "9bb4af6f-4bd4-4474-8f1e-2fd5f605d501",
      "name": "Sign Site Ingest Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18208,
        10256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.DENS_SITE_URL || 'https://dens-workspace-new.vercel.app').replace(/\\/$/, '') + '/api/integrations/ingest' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Dens-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.rawBody }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "a8d19662-1690-4afa-a61a-8b76712d6f18",
      "name": "Ingest Selected News To Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        18496,
        10256
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('node:crypto');\nconst prepared = $('Sign Site Ingest Payload').first().json;\nconst secret = $env.N8N_INTEGRATION_SECRET;\nif (!secret) throw new Error('N8N_INTEGRATION_SECRET is required for website API signing');\n\nconst response = $json;\nconst article = response.article || response.data?.article || response[0]?.article || response;\nif (!article?.id) throw new Error('Website ingest did not return article.id');\n\nfunction clean(value) {\n  return String(value || '').replace(/\\r/g, '').replace(/[ \\t]{2,}/g, ' ').trim();\n}\n\nfunction list(value, fallback = []) {\n  if (Array.isArray(value)) return value.map(clean).filter(Boolean).slice(0, 12);\n  if (typeof value === 'string') return value.split(',').map(clean).filter(Boolean).slice(0, 12);\n  return fallback;\n}\n\nconst opinion = prepared.opinion || {};\nconst title = clean(opinion.title || prepared.siteApi?.ingestPayload?.title || prepared.selected?.title || 'Untitled editorial article');\nconst summary = clean(opinion.summary || title);\nconst body = clean(opinion.body || prepared.selected?.rawContent || title);\nif (!title) throw new Error('Editorial title is empty');\nif (!summary) throw new Error('Editorial summary is empty');\nif (!body) throw new Error('Editorial body is empty');\n\nconst payload = {\n  articleId: article.id,\n  expectedVersion: Number(article.version || 1),\n  locale: 'ru',\n  title: title.slice(0, 220),\n  summary: summary.slice(0, 800),\n  body,\n  seoTitle: clean(opinion.seoTitle || title).slice(0, 220),\n  seoDescription: clean(opinion.seoDescription || summary).slice(0, 500),\n  telegramText: clean(opinion.telegramText || prepared.ai?.telegramCaption).slice(0, 4096) || null,\n  tags: list(opinion.tags, ['AI', 'Future Tech']),\n  category: clean(opinion.category || prepared.siteApi?.ingestPayload?.category || 'ai').slice(0, 80),\n  factWarnings: list(opinion.factWarnings, []).slice(0, 20)\n};\n\nconst rawBody = JSON.stringify(payload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', secret).update(rawBody).digest('hex');\n\nreturn [{ json: { ...prepared, article, siteApi: { ...prepared.siteApi, editorialPayload: payload }, rawBody, signature } }];"
      },
      "id": "d077d2d7-3b98-4379-b245-bd3ca22998d3",
      "name": "Sign Site Editorial Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18752,
        10256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.DENS_SITE_URL || 'https://dens-workspace-new.vercel.app').replace(/\\/$/, '') + '/api/integrations/editorial' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Dens-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.rawBody }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "2ba73225-81cf-4d39-b6f3-eb40d56dcfdc",
      "name": "Save Site Editorial Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19024,
        10256
      ]
    },
    {
      "parameters": {
        "jsCode": "const signed = $('Sign Site Editorial Payload').first().json;\nconst result = $json;\nconst article = result.article || signed.article || {};\nconst localization = result.localization || {};\nconst articleId = article.id || signed.siteApi?.editorialPayload?.articleId;\nconst title = signed.opinion?.title || signed.selected?.title || 'Article';\nconst siteUrl = ($env.DENS_SITE_URL || 'https://dens-workspace-new.vercel.app').replace(/\\/$/, '');\nconst adminUrl = articleId ? `${siteUrl}/admin/articles/${articleId}` : `${siteUrl}/admin/articles`;\n\nconst text = [\n  '✅ Материал сохранен в редакционную панель сайта.',\n  '',\n  '<b>Статус:</b> pending_approval',\n  '<b>Источник данных:</b> Supabase / articles',\n  '',\n  '<b>Заголовок:</b>',\n  title,\n  '',\n  articleId ? `<b>Article ID:</b> ${articleId}` : '',\n  localization.slug ? `<b>Slug:</b> ${localization.slug}` : '',\n  '',\n  `<a href=\"${adminUrl}\">Открыть в админке</a>`\n].filter(Boolean).join('\\n');\n\nconst payload = {\n  chat_id: signed.chatId || '-1004312670393',\n  message_thread_id: Number(signed.messageThreadId || 2),\n  text,\n  parse_mode: 'HTML',\n  disable_web_page_preview: true,\n  reply_markup: {\n    inline_keyboard: [[\n      { text: 'Открыть статью в админке', url: adminUrl }\n    ]]\n  }\n};\n\nreturn [{ json: { payload, articleId, adminUrl, status: article.status || 'pending_approval' } }];"
      },
      "id": "db6dc7e9-a5d3-4366-9d77-4d94acca23bf",
      "name": "Build Site Admin Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19296,
        10256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "35e523b7-19ec-43c7-ab4b-1af85aa41b7b",
      "name": "Send Site Admin Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19568,
        10256
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        17440,
        10112
      ],
      "id": "c4e4e7bf-2e68-4aaa-bf7c-04df2a0aa11a",
      "name": "Groq Chat Model - Telegram Commentary",
      "credentials": {
        "groqApi": {
          "id": "ONyhJTPh9CgjVZZi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        17440,
        10480
      ],
      "id": "74c7fb9f-f0bf-4fd7-98c5-b69f263b8607",
      "name": "Groq Chat Model - Site Opinion",
      "credentials": {
        "groqApi": {
          "id": "ONyhJTPh9CgjVZZi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 6 * * *"
            }
          ]
        }
      },
      "id": "0ad4f341-9ea6-42bb-93e9-ed4a39211929",
      "name": "В 9 утра",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16336,
        9472
      ]
    },
    {
      "parameters": {
        "jsCode": "const prepared = $('Get News For Site Opinion').first().json;\n\nconst raw = String(\n  $json.output ||\n  $json.text ||\n  $json.response ||\n  $json.message ||\n  JSON.stringify($json)\n).trim();\n\nfunction clean(v) {\n  return String(v || '')\n    .replace(/\\r/g, '')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .replace(/\\n{4,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction section(name) {\n  const re = new RegExp(`\\\\[${name}\\\\]([\\\\s\\\\S]*?)\\\\[\\\\/${name}\\\\]`, 'i');\n  const match = raw.match(re);\n  return match ? clean(match[1]) : '';\n}\n\nfunction extractJson(text) {\n  try {\n    const first = text.indexOf('{');\n    const last = text.lastIndexOf('}');\n    if (first === -1 || last === -1 || last <= first) return {};\n    let s = text.slice(first, last + 1);\n\n    // repair raw newlines inside JSON strings\n    let result = '';\n    let inString = false;\n    let escaped = false;\n\n    for (let i = 0; i < s.length; i++) {\n      const ch = s[i];\n\n      if (escaped) {\n        result += ch;\n        escaped = false;\n        continue;\n      }\n\n      if (ch === '\\\\') {\n        result += ch;\n        escaped = true;\n        continue;\n      }\n\n      if (ch === '\"') {\n        inString = !inString;\n        result += ch;\n        continue;\n      }\n\n      if (inString && ch === '\\n') {\n        result += '\\\\n';\n        continue;\n      }\n\n      if (inString && ch === '\\r') {\n        result += '\\\\r';\n        continue;\n      }\n\n      if (inString && ch === '\\t') {\n        result += '\\\\t';\n        continue;\n      }\n\n      result += ch;\n    }\n\n    return JSON.parse(result);\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction cleanUrl(value) {\n  return String(value || '').split('#')[0].trim();\n}\n\nconst source = prepared.selected || {};\nconst jsonOpinion = extractJson(raw);\n\nconst sourceTitle = clean(source.title);\nconst sourceUrl = clean(source.sourceUrl);\nconst canonicalUrl = cleanUrl(source.canonicalUrl || source.sourceUrl);\n\nconst title =\n  section('TITLE') ||\n  clean(jsonOpinion.title) ||\n  sourceTitle ||\n  'Untitled editorial draft';\n\nconst summary =\n  section('SUMMARY') ||\n  clean(jsonOpinion.summary) ||\n  title;\n\nlet body =\n  section('BODY') ||\n  clean(jsonOpinion.body) ||\n  clean(prepared.ai?.telegramCaption) ||\n  clean(source.rawContent) ||\n  title;\n\nif (sourceUrl && !body.includes(sourceUrl)) {\n  body += `\\n\\n## Источник\\n${sourceUrl}`;\n}\n\nconst seoTitle =\n  section('SEO_TITLE') ||\n  clean(jsonOpinion.seoTitle) ||\n  title;\n\nconst seoDescription =\n  section('SEO_DESCRIPTION') ||\n  clean(jsonOpinion.seoDescription) ||\n  summary;\n\nconst telegramText =\n  section('TELEGRAM_TEXT') ||\n  clean(jsonOpinion.telegramText) ||\n  clean(prepared.ai?.telegramCaption) ||\n  null;\n\nconst category =\n  section('CATEGORY') ||\n  clean(jsonOpinion.category) ||\n  clean(source.category) ||\n  'ai';\n\nconst tagsRaw =\n  section('TAGS') ||\n  (Array.isArray(jsonOpinion.tags) ? jsonOpinion.tags.join(', ') : '') ||\n  'AI, Future Tech';\n\nconst tags = tagsRaw\n  .split(',')\n  .map(s => clean(s))\n  .filter(Boolean)\n  .slice(0, 12);\n\nconst factWarningsRaw =\n  section('FACT_WARNINGS') ||\n  (Array.isArray(jsonOpinion.factWarnings) ? jsonOpinion.factWarnings.join('\\n') : '');\n\nconst factWarnings = factWarningsRaw\n  ? factWarningsRaw\n      .split(/\\n|;/)\n      .map(s => clean(s))\n      .filter(Boolean)\n      .slice(0, 20)\n  : [];\n\nif (!title) {\n  throw new Error('Article title is empty before website ingest');\n}\n\nif (!body) {\n  throw new Error('Article body is empty before website ingest');\n}\n\nconst draftRow = {\n  external_id: `opinion:${canonicalUrl || sourceUrl || Date.now()}`.slice(0, 500),\n  source_url: sourceUrl || null,\n  canonical_url: canonicalUrl || sourceUrl || null,\n  source_name: clean(source.sourceName || 'AI News Radar').slice(0, 180),\n  source_author: source.author ? clean(source.author).slice(0, 180) : null,\n\n  title,\n  summary,\n  body,\n  seo_title: seoTitle,\n  seo_description: seoDescription,\n  telegram_text: telegramText,\n\n  category,\n  tags,\n  fact_warnings: factWarnings,\n\n  image_url: prepared.imageUrl || source.imageUrl || null,\n  status: 'draft',\n\n  raw_source: source,\n  raw_opinion: {\n    title,\n    summary,\n    body,\n    seoTitle,\n    seoDescription,\n    telegramText,\n    category,\n    tags,\n    factWarnings,\n    rawAiOutput: raw\n  }\n};\n\nreturn [{\n  json: {\n    ...prepared,\n    opinion: {\n      title,\n      summary,\n      body,\n      seoTitle,\n      seoDescription,\n      telegramText,\n      category,\n      tags,\n      factWarnings\n    },\n    draftRow\n  }\n}];"
      },
      "id": "15c127d3-2825-4230-8dcc-bb5bfb13e87a",
      "name": "Parse Opinion + Build Site Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17920,
        10256
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Test": {
      "main": [
        [
          {
            "node": "Build RSS Feeds",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build HN Queries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build YouTube Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build RSS Feeds": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Normalize RSS Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize RSS Source": {
      "main": [
        [
          {
            "node": "Merge RSS + HN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HN Queries": {
      "main": [
        [
          {
            "node": "Fetch Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Hacker News": {
      "main": [
        [
          {
            "node": "Normalize HN Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize HN Source": {
      "main": [
        [
          {
            "node": "Merge RSS + HN",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge RSS + HN": {
      "main": [
        [
          {
            "node": "Merge All Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build YouTube Queries": {
      "main": [
        [
          {
            "node": "YouTube Search Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Search Videos": {
      "main": [
        [
          {
            "node": "Normalize YouTube Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize YouTube Source": {
      "main": [
        [
          {
            "node": "Merge All Candidates",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Candidates": {
      "main": [
        [
          {
            "node": "Score + Store Top 10 Radar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score + Store Top 10 Radar": {
      "main": [
        [
          {
            "node": "Send Top 10 To Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Selection Trigger": {
      "main": [
        [
          {
            "node": "Parse Telegram Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Selection": {
      "main": [
        [
          {
            "node": "Switch Telegram Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Telegram Action": {
      "main": [
        [
          {
            "node": "Get Selected News",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get News For Site Opinion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Skip Site Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Selected News": {
      "main": [
        [
          {
            "node": "AI Telegram Commentary + Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Telegram Commentary + Image Prompt": {
      "main": [
        [
          {
            "node": "Parse AI Telegram Commentary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Telegram Commentary": {
      "main": [
        [
          {
            "node": "Cloudflare Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram News Post": {
      "main": [
        [
          {
            "node": "Publish Selected News To Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Selected News To Telegram": {
      "main": [
        [
          {
            "node": "Ask Publish To Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Publish To Site": {
      "main": [
        [
          {
            "node": "Send Site Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Skip Site Reply": {
      "main": [
        [
          {
            "node": "Send Skip Site Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get News For Site Opinion": {
      "main": [
        [
          {
            "node": "AI Site Opinion Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Site Opinion Article": {
      "main": [
        [
          {
            "node": "Parse Opinion + Build Site Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Site Admin Confirmation": {
      "main": [
        [
          {
            "node": "Send Site Admin Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudflare Generate Image": {
      "main": [
        [
          {
            "node": "Build Telegram News Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model - Telegram Commentary": {
      "ai_languageModel": [
        [
          {
            "node": "AI Telegram Commentary + Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model - Site Opinion": {
      "ai_languageModel": [
        [
          {
            "node": "AI Site Opinion Article",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "В 9 утра": {
      "main": [
        [
          {
            "node": "Build RSS Feeds",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build HN Queries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build YouTube Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Opinion + Build Site Article": {
      "main": [
        [
          {
            "node": "Sign Site Ingest Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Site Ingest Payload": {
      "main": [
        [
          {
            "node": "Ingest Selected News To Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Selected News To Website": {
      "main": [
        [
          {
            "node": "Sign Site Editorial Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Site Editorial Payload": {
      "main": [
        [
          {
            "node": "Save Site Editorial Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Site Editorial Result": {
      "main": [
        [
          {
            "node": "Build Site Admin Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cfb9ab37-5698-4953-8346-c9562ea276a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad9e63c81cb6cf67cf780ff05d710cc0ff1643948fa329455f2cf5033d98099b"
  },
  "id": "08M8YbbNGGDxpvWG",
  "tags": []
}
