n8n/den-workspace-editorial-platform-v2-future-debate-ready.json
{
  "name": "Den's Workspace - Editorial Platform v2 - Future Debate Ready",
  "nodes": [
    {
      "parameters": {},
      "id": "6e87ff52-c374-411a-9e1e-7d84402fd6a8",
      "name": "Manual Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "895ecfd7-6107-4a77-935b-34692c01c22b",
      "name": "Every 30 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        300
      ]
    },
    {
      "parameters": {
        "content": "Den's Workspace Editorial Platform v2\n\nRequired n8n environment variables:\nDENS_SITE_URL=https://your-site.com\nN8N_INTEGRATION_SECRET=same value as site env\nDW_RSS_FEEDS=https://example.com/rss,https://example.com/feed\nDW_HN_QUERIES=AI agents,robotics,automation\nDW_YOUTUBE_QUERIES=AI agents future of work,humanoid robots\nYOUTUBE_API_KEY=your key\nTELEGRAM_BOT_TOKEN=bot token for inline buttons\nTELEGRAM_APPROVAL_CHAT_ID=closed group id\nTELEGRAM_APPROVAL_TOPIC_RU=optional topic id\nTELEGRAM_APPROVAL_TOPIC_EN=optional topic id\nTELEGRAM_PUBLIC_CHAT_ID=public channel/group id\nSUPABASE_URL=project url\nSUPABASE_SERVICE_ROLE_KEY=server key for publisher only\n\nCredentials to attach after import:\n- OpenAI API credential on AI Editorial Rewrite\n- Telegram credential on Telegram Callback and Publish to Telegram\n\nThis workflow writes to the website integration API. The website creates Supabase articles that appear in /admin.",
        "height": 420,
        "width": 520,
        "color": 4
      },
      "id": "b5e4f317-251f-4a4f-8ba8-c24113202e05",
      "name": "Setup note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1180,
        -260
      ]
    },
    {
      "parameters": {
        "jsCode": "const feeds = String($env.DW_RSS_FEEDS || '').split(',').map(s => s.trim()).filter(Boolean);\nif (!feeds.length) return [];\nreturn feeds.map(url => ({ json: { url } }));"
      },
      "id": "9103cba6-c736-4019-b3ad-8a8288963db7",
      "name": "Build RSS Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -900,
        -160
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "b9401a99-e383-44ff-9920-642fa8b08af9",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -650,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(({ json }) => {\n  const url = json.link || json.guid || json.url;\n  const text = String(json.content || json.contentSnippet || json.description || json.text || json.title || '').trim();\n  if (!url || !json.title) return null;\n  const locale = /[а-яё]/i.test(String(json.title) + ' ' + text) ? 'ru' : 'en';\n  return { json: {\n    externalId: String(json.guid || url),\n    sourcePlatform: 'rss',\n    sourceName: json.feedTitle || json.creator || 'RSS / News',\n    sourceUrl: String(url),\n    canonicalUrl: String(url).split('#')[0],\n    author: json.creator || json.author || null,\n    locale,\n    title: String(json.title).slice(0, 500),\n    rawContent: text || String(json.title),\n    imageUrl: json.imageUrl || json.enclosure?.url || null,\n    publishedAt: json.isoDate || json.pubDate || null,\n    category: 'ai'\n  }};\n}).filter(Boolean);"
      },
      "id": "1206b476-2b16-491f-a66c-1bbd915213ee",
      "name": "Normalize RSS Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -390,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const queries = String($env.DW_HN_QUERIES || 'AI agents,robotics,automation,OpenAI,Claude,Gemini').split(',').map(s => s.trim()).filter(Boolean);\nconst after = Math.floor((Date.now() - 48 * 60 * 60 * 1000) / 1000);\nreturn queries.map(query => ({ json: { query, after, hitsPerPage: 25 } }));"
      },
      "id": "a1c7bb6c-0c78-4539-87d6-9984f2e57942",
      "name": "Build HN Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -900,
        80
      ]
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search_by_date",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tags",
              "value": "story"
            },
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "hitsPerPage",
              "value": "={{ $json.hitsPerPage }}"
            },
            {
              "name": "numericFilters",
              "value": "=created_at_i>{{ $json.after }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "dea79d8a-a1e3-4c8b-b255-29a0dfba2d56",
      "name": "Fetch Hacker News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -650,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const hits = $json.hits || [];\nreturn hits.filter(hit => hit && hit.title && (hit.url || hit.objectID)).slice(0, 20).map(hit => {\n  const discussion = 'https://news.ycombinator.com/item?id=' + hit.objectID;\n  const sourceUrl = hit.url || discussion;\n  const raw = [\n    hit.title,\n    hit.story_text || '',\n    'HN points: ' + (hit.points ?? 0),\n    'HN comments: ' + (hit.num_comments ?? 0),\n    'Discussion: ' + discussion\n  ].filter(Boolean).join('\n');\n  return { json: {\n    externalId: 'hn:' + hit.objectID,\n    sourcePlatform: 'manual',\n    sourceName: 'Hacker News',\n    sourceUrl,\n    canonicalUrl: sourceUrl.split('#')[0],\n    author: hit.author || null,\n    locale: 'en',\n    title: String(hit.title).slice(0, 500),\n    rawContent: raw,\n    imageUrl: null,\n    publishedAt: hit.created_at || null,\n    category: 'ai'\n  }};\n});"
      },
      "id": "c9e3926d-21bd-43bc-9256-489bf7a58cb1",
      "name": "Normalize HN Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -390,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const queries = String($env.DW_YOUTUBE_QUERIES || 'AI agents future of work,humanoid robots,AI robotics debate').split(',').map(s => s.trim()).filter(Boolean);\nreturn queries.map(query => ({ json: { query } }));"
      },
      "id": "53cbae0a-40a3-4f49-a8c2-d831894cf052",
      "name": "Build YouTube Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -900,
        320
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "maxResults",
              "value": "8"
            },
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "key",
              "value": "={{ $env.YOUTUBE_API_KEY }}"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "videoDuration",
              "value": "medium"
            },
            {
              "name": "relevanceLanguage",
              "value": "en"
            },
            {
              "name": "regionCode",
              "value": "US"
            },
            {
              "name": "safeSearch",
              "value": "none"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "4f134238-65bf-4351-946b-1ce9e3a4e6b4",
      "name": "YouTube Search Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -650,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const list = $json.items || [];\nreturn list.map(item => {\n  const videoId = item.id?.videoId;\n  if (!videoId) return null;\n  const s = item.snippet || {};\n  return { json: {\n    videoId,\n    title: s.title,\n    description: s.description || '',\n    channelTitle: s.channelTitle || 'YouTube',\n    publishedAt: s.publishedAt || null,\n    imageUrl: s.thumbnails?.high?.url || s.thumbnails?.medium?.url || null,\n    url: 'https://www.youtube.com/watch?v=' + videoId\n  }};\n}).filter(Boolean);"
      },
      "id": "f2b8180b-abc4-4c11-93b6-f9310847ebd2",
      "name": "Extract YouTube Video IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -390,
        320
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/commentThreads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "videoId",
              "value": "={{ $json.videoId }}"
            },
            {
              "name": "maxResults",
              "value": "40"
            },
            {
              "name": "order",
              "value": "relevance"
            },
            {
              "name": "textFormat",
              "value": "plainText"
            },
            {
              "name": "key",
              "value": "={{ $env.YOUTUBE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "beaf46f2-0f36-4b15-a716-0b09b8ab47b9",
      "name": "YouTube Get Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -130,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const video = $('Extract YouTube Video IDs').item.json;\nconst comments = ($json.items || []).map(item => item.snippet?.topLevelComment?.snippet?.textDisplay).filter(Boolean).slice(0, 30);\nconst raw = [\n  video.title,\n  video.description,\n  comments.length ? 'Audience comments:\n- ' + comments.join('\n- ') : 'No comments available.'\n].join('\n\n');\nreturn [{ json: {\n  externalId: 'youtube:' + video.videoId,\n  sourcePlatform: 'manual',\n  sourceName: 'YouTube',\n  sourceUrl: video.url,\n  canonicalUrl: video.url,\n  author: video.channelTitle || null,\n  locale: 'en',\n  title: String(video.title || 'YouTube video').slice(0, 500),\n  rawContent: raw,\n  imageUrl: video.imageUrl || null,\n  publishedAt: video.publishedAt || null,\n  category: 'ai'\n}}];"
      },
      "id": "55d7e4b4-f5e6-4674-98b7-e77cac421d0b",
      "name": "Normalize YouTube Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        130,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('node:crypto');\nconst secret = $env.N8N_INTEGRATION_SECRET;\nif (!secret) throw new Error('N8N_INTEGRATION_SECRET is not configured');\nfunction cleanUrl(value) { return String(value || '').split('#')[0]; }\nreturn items.map(({ json }) => {\n  if (!json.sourceUrl || !json.title || !json.rawContent) return null;\n  const canonicalUrl = cleanUrl(json.canonicalUrl || json.sourceUrl);\n  const compact = String(json.rawContent).replace(/s+/g, ' ').trim();\n  const payload = {\n    externalId: String(json.externalId || canonicalUrl).slice(0, 500),\n    sourcePlatform: ['rss','reddit','x','threads','manual'].includes(json.sourcePlatform) ? json.sourcePlatform : 'manual',\n    sourceName: String(json.sourceName || 'Den Workspace Source').slice(0, 180),\n    sourceUrl: String(json.sourceUrl),\n    canonicalUrl,\n    author: json.author ? String(json.author).slice(0, 180) : null,\n    locale: json.locale === 'ru' ? 'ru' : 'en',\n    title: String(json.title).slice(0, 500),\n    rawContent: String(json.rawContent),\n    imageUrl: json.imageUrl || null,\n    publishedAt: json.publishedAt || null,\n    fingerprint: crypto.createHash('sha256').update(canonicalUrl + '|' + compact.slice(0, 4000)).digest('hex'),\n    category: String(json.category || 'ai').slice(0, 80)\n  };\n  const rawBody = JSON.stringify(payload);\n  const signature = 'sha256=' + crypto.createHmac('sha256', secret).update(rawBody).digest('hex');\n  return { json: { payload, rawBody, signature } };\n}).filter(Boolean);"
      },
      "id": "f7839361-cf34-4951-9834-ca8461442a11",
      "name": "Normalize + Sign Ingest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DENS_SITE_URL + '/api/integrations/ingest' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Dens-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.rawBody }}",
        "options": {}
      },
      "id": "87f71eb9-91a9-432a-8543-139ecff45f4a",
      "name": "Ingest and Dedupe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        690,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.duplicate === true) return [];\nconst source = $('Normalize + Sign Ingest').item.json.payload;\nif (!$json.article?.id || !$json.article?.version) throw new Error('Ingest response has no article');\nreturn [{ json: { article: $json.article, source } }];"
      },
      "id": "816fe428-37e5-4495-a52d-67f59ee7adb5",
      "name": "Only New Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: $env.OPENAI_EDITORIAL_MODEL || 'gpt-4.1-mini',\n  messages: [\n    { role: 'system', content: 'You are the editorial engine for Den's Workspace and The Future Debate. Rewrite the supplied source into an accurate article for the website admin panel. Preserve attribution, source URLs and uncertainty. Never invent facts, quotes, numbers or sources. If the input is a debate signal, explain what happened, why people disagree, and why it matters. Output only JSON matching the schema. Use the same language as source.locale.' },\n    { role: 'user', content: JSON.stringify($json.source) }\n  ],\n  response_format: { type: 'json_schema', json_schema: { name: 'editorial_article', strict: true, schema: {\n    type: 'object', additionalProperties: false,\n    required: ['title','summary','body','seoTitle','seoDescription','telegramText','category','tags','factWarnings'],\n    properties: {\n      title: { type: 'string' }, summary: { type: 'string' }, body: { type: 'string' },\n      seoTitle: { type: ['string','null'] }, seoDescription: { type: ['string','null'] }, telegramText: { type: ['string','null'] },\n      category: { type: 'string' }, tags: { type: 'array', items: { type: 'string' } }, factWarnings: { type: 'array', items: { type: 'string' } }\n    }\n  } } }\n}) }}",
        "options": {}
      },
      "id": "1ee7fad9-a5cb-40ba-801c-6fd07c4ca03e",
      "name": "AI Editorial Rewrite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('node:crypto');\nconst secret = $env.N8N_INTEGRATION_SECRET;\nconst prepared = $('Only New Articles').item.json;\nconst content = $json.choices?.[0]?.message?.content;\nif (!content) throw new Error('AI response does not contain JSON content');\nlet editorial;\ntry { editorial = typeof content === 'string' ? JSON.parse(content) : content; } catch (error) { throw new Error('AI returned invalid JSON: ' + error.message); }\nconst payload = {\n  articleId: prepared.article.id,\n  expectedVersion: prepared.article.version,\n  locale: prepared.source.locale,\n  title: String(editorial.title || '').slice(0, 220),\n  summary: String(editorial.summary || '').slice(0, 800),\n  body: String(editorial.body || ''),\n  seoTitle: editorial.seoTitle ? String(editorial.seoTitle).slice(0, 220) : null,\n  seoDescription: editorial.seoDescription ? String(editorial.seoDescription).slice(0, 500) : null,\n  telegramText: editorial.telegramText ? String(editorial.telegramText).slice(0, 4096) : null,\n  category: String(editorial.category || prepared.source.category || 'ai').slice(0, 80),\n  tags: Array.isArray(editorial.tags) ? editorial.tags.slice(0, 12).map(String) : [],\n  factWarnings: Array.isArray(editorial.factWarnings) ? editorial.factWarnings.slice(0, 20).map(String) : []\n};\nif (!payload.title || !payload.summary || !payload.body) throw new Error('AI editorial result is incomplete');\nconst rawBody = JSON.stringify(payload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', secret).update(rawBody).digest('hex');\nreturn [{ json: { payload, rawBody, signature } }];"
      },
      "id": "3acb3262-2408-4b7e-b8ce-5c00b5f444cf",
      "name": "Parse + Sign Editorial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DENS_SITE_URL + '/api/integrations/editorial' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Dens-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.rawBody }}",
        "options": {}
      },
      "id": "ccab2993-2296-4d1b-a2ad-63df42ef0b6b",
      "name": "Save Editorial Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1710,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('node:crypto');\nconst article = $('Save Editorial Result').item.json.article;\nconst action = 'approve';\nconst payload = { articleId: article.id, articleVersion: article.version, action };\nconst rawBody = JSON.stringify(payload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', $env.N8N_INTEGRATION_SECRET).update(rawBody).digest('hex');\nreturn [{ json: { rawBody, signature, action } }];"
      },
      "id": "5647c845-6767-4f5b-91b0-9b34fd0e06ef",
      "name": "Sign Approve Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1970,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DENS_SITE_URL + '/api/integrations/approval-token' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Dens-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.rawBody }}",
        "options": {}
      },
      "id": "e7d84e89-0330-4855-bb5e-d9df08fa0c28",
      "name": "Create Approve Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('node:crypto');\nconst article = $('Save Editorial Result').item.json.article;\nconst action = 'reject';\nconst payload = { articleId: article.id, articleVersion: article.version, action };\nconst rawBody = JSON.stringify(payload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', $env.N8N_INTEGRATION_SECRET).update(rawBody).digest('hex');\nreturn [{ json: { rawBody, signature, action } }];"
      },
      "id": "0fa7230b-b1ff-47dc-bcb8-ec93ad49aa09",
      "name": "Sign Reject Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1970,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DENS_SITE_URL + '/api/integrations/approval-token' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Dens-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.rawBody }}",
        "options": {}
      },
      "id": "d4e0458e-c9b5-43f8-92ed-836bcb34c033",
      "name": "Create Reject Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('node:crypto');\nconst article = $('Save Editorial Result').item.json.article;\nconst action = 'regenerate';\nconst payload = { articleId: article.id, articleVersion: article.version, action };\nconst rawBody = JSON.stringify(payload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', $env.N8N_INTEGRATION_SECRET).update(rawBody).digest('hex');\nreturn [{ json: { rawBody, signature, action } }];"
      },
      "id": "5cf57836-44ea-4e26-a630-fe21844fb5db",
      "name": "Sign Regenerate Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1970,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DENS_SITE_URL + '/api/integrations/approval-token' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Dens-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.rawBody }}",
        "options": {}
      },
      "id": "f070d052-9452-412b-a712-2e7c0ca6b6f8",
      "name": "Create Regenerate Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const editorial = $('Parse + Sign Editorial').item.json.payload;\nconst source = $('Only New Articles').item.json.source;\nconst approve = $('Create Approve Token').item.json.token;\nconst reject = $('Create Reject Token').item.json.token;\nconst regenerate = $('Create Regenerate Token').item.json.token;\nconst escape = (v) => String(v || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst adminUrl = ($env.DENS_SITE_URL || '').replace(//$/, '') + '/admin/articles/' + editorial.articleId;\nconst text = [\n  '<b>' + escape(editorial.title) + '</b>',\n  escape(editorial.summary),\n  '',\n  'Source: ' + escape(source.canonicalUrl),\n  'Admin: ' + escape(adminUrl)\n].join('\n\n');\nconst payload = {\n  chat_id: $env.TELEGRAM_APPROVAL_CHAT_ID,\n  message_thread_id: editorial.locale === 'ru' ? ($env.TELEGRAM_APPROVAL_TOPIC_RU || undefined) : ($env.TELEGRAM_APPROVAL_TOPIC_EN || undefined),\n  text,\n  parse_mode: 'HTML',\n  disable_web_page_preview: false,\n  reply_markup: {\n    inline_keyboard: [[\n      { text: 'Approve', callback_data: 'approve:' + approve },\n      { text: 'Reject', callback_data: 'reject:' + reject },\n      { text: 'Regenerate', callback_data: 'regenerate:' + regenerate }\n    ], [\n      { text: 'Edit in Admin', url: adminUrl }\n    ]]\n  }\n};\nObject.keys(payload).forEach(key => payload[key] === undefined && delete payload[key]);\nreturn [{ json: { payload } }];"
      },
      "id": "f4385b69-4510-405a-b83e-acd58dfd92ae",
      "name": "Build Telegram Approval Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2490,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "9a6246e0-1126-4fb9-9c0e-687ff0129b2b",
      "name": "Send Telegram Approval Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2760,
        80
      ]
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ]
      },
      "id": "7e40e5e6-5d7f-496e-aa22-3c2897c51e32",
      "name": "Telegram Callback",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1700,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('node:crypto');\nconst callback = $json.callback_query;\nif (!callback?.data || !callback?.from?.id) throw new Error('Invalid Telegram callback');\nconst token = String(callback.data).split(':').slice(1).join(':');\nconst payload = { token, telegramUserId: String(callback.from.id) };\nconst rawBody = JSON.stringify(payload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', $env.N8N_INTEGRATION_SECRET).update(rawBody).digest('hex');\nreturn [{ json: { rawBody, signature, callbackQueryId: callback.id } }];"
      },
      "id": "936044d0-3c32-4e69-9601-4ee65b64e5df",
      "name": "Sign Telegram Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DENS_SITE_URL + '/api/integrations/telegram-callback' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Dens-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.rawBody }}",
        "options": {}
      },
      "id": "f4093af5-c791-43f3-9712-0e02eb231d7d",
      "name": "Apply Telegram Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        620
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "2759fd74-d8e3-4538-8cc9-5bff7d9594a4",
      "name": "Every minute - Publisher",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        900
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/publication_jobs?select=*,articles(id,image_url,article_localizations(locale,slug,title,summary,telegram_text))&status=eq.queued&or=(scheduled_at.is.null,scheduled_at.lte.' + $now.toISO() + ')&order=created_at.asc&limit=20' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c632d022-94fc-42d4-a907-26f3f5309858",
      "name": "Load Publication Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        900
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "site",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "site"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            }
          ]
        },
        "options": {}
      },
      "id": "638f0715-e513-47f5-a359-2efd3aa3a8cf",
      "name": "Route Publication Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -40,
        900
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('node:crypto');\nconst rawBody = JSON.stringify({ jobId: $json.id, articleId: $json.article_id });\nconst signature = 'sha256=' + crypto.createHmac('sha256', $env.N8N_INTEGRATION_SECRET).update(rawBody).digest('hex');\nreturn [{ json: { job: $json, rawBody, signature } }];"
      },
      "id": "071cb07a-2392-46fc-bf8f-343c7e566e8f",
      "name": "Sign Site Revalidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DENS_SITE_URL + '/api/integrations/revalidate' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Dens-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.rawBody }}",
        "options": {}
      },
      "id": "286694f2-6e11-4ffc-8de9-b3b46cf8ba84",
      "name": "Revalidate Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('node:crypto');\nconst job = $('Sign Site Revalidate').item.json.job;\nconst payload = { jobId: job.id, status: 'published', externalUrl: ($env.DENS_SITE_URL || '').replace(//$/, '') + '/news-feed' };\nconst rawBody = JSON.stringify(payload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', $env.N8N_INTEGRATION_SECRET).update(rawBody).digest('hex');\nreturn [{ json: { rawBody, signature } }];"
      },
      "id": "f24371b7-9c4e-4575-b364-c2727617e8f4",
      "name": "Sign Site Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DENS_SITE_URL + '/api/integrations/publications' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Dens-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.rawBody }}",
        "options": {}
      },
      "id": "aad3a9c4-fbde-47ca-84df-523d8f6a2c5d",
      "name": "Report Site Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "const localizations = $json.articles?.article_localizations || [];\nconst preferred = localizations.find(item => item.locale === 'ru') || localizations[0];\nif (!preferred) throw new Error('Publication has no localization');\nconst link = ($env.DENS_SITE_URL || '').replace(//$/, '') + '/news-feed/' + preferred.slug;\nconst escape = (v) => String(v || '').replace(/[<>&]/g, '');\nreturn [{ json: { job: $json, text: preferred.telegram_text || ('<b>' + escape(preferred.title) + '</b>\n\n' + escape(preferred.summary) + '\n\n' + link) } }];"
      },
      "id": "8180c486-6ccb-4f11-8fe8-ad85a5d0e4e2",
      "name": "Prepare Telegram Publication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        1020
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_PUBLIC_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "39a626ea-d0a9-4de4-ab63-8055e62c19c5",
      "name": "Publish to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        1020
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('node:crypto');\nconst job = $('Prepare Telegram Publication').item.json.job;\nconst payload = { jobId: job.id, status: 'published', externalId: String($json.message_id || $json.result?.message_id || '') || null };\nconst rawBody = JSON.stringify(payload);\nconst signature = 'sha256=' + crypto.createHmac('sha256', $env.N8N_INTEGRATION_SECRET).update(rawBody).digest('hex');\nreturn [{ json: { rawBody, signature } }];"
      },
      "id": "670290a9-2d37-4fe5-89c8-1dcbc9e9550e",
      "name": "Sign Telegram Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        1020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DENS_SITE_URL + '/api/integrations/publications' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Dens-Signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.rawBody }}",
        "options": {}
      },
      "id": "ade10228-3f6c-45a1-9c6a-75a7cccbdbea",
      "name": "Report Telegram Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        1020
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Test": {
      "main": [
        [
          {
            "node": "Build RSS Feeds",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build HN Queries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build YouTube Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 30 minutes": {
      "main": [
        [
          {
            "node": "Build RSS Feeds",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build HN Queries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build YouTube Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build RSS Feeds": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Normalize RSS Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize RSS Source": {
      "main": [
        [
          {
            "node": "Normalize + Sign Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HN Queries": {
      "main": [
        [
          {
            "node": "Fetch Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Hacker News": {
      "main": [
        [
          {
            "node": "Normalize HN Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize HN Source": {
      "main": [
        [
          {
            "node": "Normalize + Sign Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build YouTube Queries": {
      "main": [
        [
          {
            "node": "YouTube Search Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Search Videos": {
      "main": [
        [
          {
            "node": "Extract YouTube Video IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract YouTube Video IDs": {
      "main": [
        [
          {
            "node": "YouTube Get Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Get Comments": {
      "main": [
        [
          {
            "node": "Normalize YouTube Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize YouTube Source": {
      "main": [
        [
          {
            "node": "Normalize + Sign Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Sign Ingest": {
      "main": [
        [
          {
            "node": "Ingest and Dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest and Dedupe": {
      "main": [
        [
          {
            "node": "Only New Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only New Articles": {
      "main": [
        [
          {
            "node": "AI Editorial Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Editorial Rewrite": {
      "main": [
        [
          {
            "node": "Parse + Sign Editorial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Sign Editorial": {
      "main": [
        [
          {
            "node": "Save Editorial Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Editorial Result": {
      "main": [
        [
          {
            "node": "Sign Approve Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Approve Token": {
      "main": [
        [
          {
            "node": "Create Approve Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Approve Token": {
      "main": [
        [
          {
            "node": "Sign Reject Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Reject Token": {
      "main": [
        [
          {
            "node": "Create Reject Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Reject Token": {
      "main": [
        [
          {
            "node": "Sign Regenerate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Regenerate Token": {
      "main": [
        [
          {
            "node": "Create Regenerate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Regenerate Token": {
      "main": [
        [
          {
            "node": "Build Telegram Approval Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Approval Message": {
      "main": [
        [
          {
            "node": "Send Telegram Approval Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Callback": {
      "main": [
        [
          {
            "node": "Sign Telegram Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Telegram Callback": {
      "main": [
        [
          {
            "node": "Apply Telegram Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every minute - Publisher": {
      "main": [
        [
          {
            "node": "Load Publication Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Publication Jobs": {
      "main": [
        [
          {
            "node": "Route Publication Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Publication Channel": {
      "main": [
        [
          {
            "node": "Sign Site Revalidate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Telegram Publication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Site Revalidate": {
      "main": [
        [
          {
            "node": "Revalidate Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revalidate Website": {
      "main": [
        [
          {
            "node": "Sign Site Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Site Success": {
      "main": [
        [
          {
            "node": "Report Site Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Publication": {
      "main": [
        [
          {
            "node": "Publish to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Telegram": {
      "main": [
        [
          {
            "node": "Sign Telegram Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Telegram Success": {
      "main": [
        [
          {
            "node": "Report Telegram Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}