n8n/editorial/02-normalize-dedupe.json
{
  "name":"DW Editorial 02 - Normalize and Dedupe",
  "nodes":[
    {"parameters":{},"id":"20000000-0000-4000-8000-000000000001","name":"Input","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-560,0]},
    {"parameters":{"jsCode":"const crypto = require('crypto');\nreturn items.map(({json}) => {\n  const sourceUrl = json.link || json.url || json.sourceUrl;\n  const canonicalUrl = String(sourceUrl || '').split('#')[0];\n  const rawContent = json.content || json.contentSnippet || json.text || json.description || '';\n  const externalId = String(json.guid || json.id || canonicalUrl);\n  return {json:{externalId,sourcePlatform:json.sourcePlatform || 'rss',sourceName:json.feedTitle || json.sourceName || 'RSS',sourceUrl,canonicalUrl,author:json.creator || json.author || null,locale:json.locale || 'en',title:json.title,rawContent,imageUrl:json.imageUrl || null,publishedAt:json.isoDate || null,fingerprint:crypto.createHash('sha256').update(canonicalUrl+'|'+rawContent.replace(/\\s+/g,' ').trim()).digest('hex'),category:json.category || 'ai'}};\n});"},"id":"20000000-0000-4000-8000-000000000002","name":"Normalize and Fingerprint","type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,0]},
    {"parameters":{"content":"This Code node uses only Node's built-in crypto module. If Task Runners are enabled, allow crypto with N8N_RUNNERS_STDLIB_ALLOW or use the Crypto node instead.","height":100,"width":480},"id":"20000000-0000-4000-8000-000000000003","name":"Security Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,220]},
    {"parameters":{"method":"POST","url":"={{ $env.DENS_SITE_URL + '/api/integrations/ingest' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Dens-Signature","value":"={{ $json.signature }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify($json) }}","options":{}},"id":"20000000-0000-4000-8000-000000000004","name":"Ingest to Website","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,0]},
    {"parameters":{"content":"Before the HTTP node, add a Crypto node configured for HMAC SHA-256 over JSON.stringify($json), using an n8n Crypto credential. Write the result to `signature`.","height":110,"width":430},"id":"20000000-0000-4000-8000-000000000005","name":"HMAC Setup","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,-180]}
  ],
  "connections":{"Input":{"main":[[{"node":"Normalize and Fingerprint","type":"main","index":0}]]},"Normalize and Fingerprint":{"main":[[{"node":"Ingest to Website","type":"main","index":0}]]}},
  "settings":{"executionOrder":"v1"},"active":false,"versionId":"20000000-0000-4000-8000-000000000010","meta":{"templateCredsSetupCompleted":false},"tags":[]
}
