n8n/editorial/03-ai-editorial.json
{
  "name":"DW Editorial 03 - AI Editorial",
  "nodes":[
    {"parameters":{},"id":"30000000-0000-4000-8000-000000000001","name":"Input","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-520,0]},
    {"parameters":{"method":"POST","url":"={{ $env.EDITORIAL_LLM_ENDPOINT }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ model: $env.EDITORIAL_LLM_MODEL, input: $json, response_format: { type: 'json_schema', name: 'editorial_article', strict: true, schema: { type:'object', additionalProperties:false, required:['articleId','expectedVersion','locale','title','summary','body','category','tags','factWarnings'], properties:{articleId:{type:'string'},expectedVersion:{type:'integer'},locale:{enum:['ru','en']},title:{type:'string'},summary:{type:'string'},body:{type:'string'},seoTitle:{type:['string','null']},seoDescription:{type:['string','null']},telegramText:{type:['string','null']},category:{type:'string'},tags:{type:'array',items:{type:'string'}},factWarnings:{type:'array',items:{type:'string'}}} } } }) }}","options":{}},"id":"30000000-0000-4000-8000-000000000002","name":"Structured LLM Rewrite","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,0]},
    {"parameters":{"method":"POST","url":"={{ $env.DENS_SITE_URL + '/api/integrations/editorial' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Dens-Signature","value":"={{ $json.signature }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify($json) }}","options":{}},"id":"30000000-0000-4000-8000-000000000003","name":"Save Editorial Result","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20,0]},
    {"parameters":{"workflowId":{"__rl":true,"value":"REPLACE_WITH_TELEGRAM_WORKFLOW_ID","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"waitForSubWorkflow":false}},"id":"30000000-0000-4000-8000-000000000004","name":"Telegram Preview","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[280,0]},
    {"parameters":{"content":"Use an HTTP Request credential for the LLM endpoint. Add the same HMAC signing step described in workflow 02 before calling the website.","height":100,"width":500},"id":"30000000-0000-4000-8000-000000000005","name":"Credentials Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,220]}
  ],
  "connections":{"Input":{"main":[[{"node":"Structured LLM Rewrite","type":"main","index":0}]]},"Structured LLM Rewrite":{"main":[[{"node":"Save Editorial Result","type":"main","index":0}]]},"Save Editorial Result":{"main":[[{"node":"Telegram Preview","type":"main","index":0}]]}},
  "settings":{"executionOrder":"v1"},"active":false,"versionId":"30000000-0000-4000-8000-000000000010","meta":{"templateCredsSetupCompleted":false},"tags":[]
}
