n8n/editorial/04-telegram-approval.json
{
  "name":"DW Editorial 04 - Telegram Approval",
  "nodes":[
    {"parameters":{},"id":"40000000-0000-4000-8000-000000000001","name":"Preview Input","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-560,-80]},
    {"parameters":{"chatId":"={{ $env.TELEGRAM_APPROVAL_CHAT_ID }}","text":"={{ $json.telegramText || $json.summary }}","additionalFields":{"message_thread_id":"={{ $json.locale === 'ru' ? $env.TELEGRAM_APPROVAL_TOPIC_RU : $env.TELEGRAM_APPROVAL_TOPIC_EN }}","reply_markup":"={\"inline_keyboard\":[[{\"text\":\"Approve\",\"callback_data\":\"approve:{{$json.approveToken}}\"},{\"text\":\"Edit\",\"url\":\"{{$env.DENS_SITE_URL}}/admin/articles/{{$json.articleId}}\"}],[{\"text\":\"Regenerate\",\"callback_data\":\"regenerate:{{$json.regenerateToken}}\"},{\"text\":\"Reject\",\"callback_data\":\"reject:{{$json.rejectToken}}\"}]]}"}},"id":"40000000-0000-4000-8000-000000000002","name":"Send Preview","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-260,-80]},
    {"parameters":{"updates":["callback_query"],"additionalFields":{}},"id":"40000000-0000-4000-8000-000000000003","name":"Telegram Callback","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-560,180]},
    {"parameters":{"method":"POST","url":"={{ $env.DENS_SITE_URL + '/api/integrations/telegram-callback' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Dens-Signature","value":"={{ $json.signature }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ token: $json.callback_query.data.split(':')[1], telegramUserId: String($json.callback_query.from.id) }) }}","options":{}},"id":"40000000-0000-4000-8000-000000000004","name":"Apply Approval","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,180]},
    {"parameters":{"content":"Create one-time tokens with /api/integrations/approval-token before Send Preview. Add HMAC signing before both website calls. Configure Telegram credentials after import; IDs remain in environment variables.","height":120,"width":520},"id":"40000000-0000-4000-8000-000000000005","name":"Approval Setup","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,40]}
  ],
  "connections":{"Preview Input":{"main":[[{"node":"Send Preview","type":"main","index":0}]]},"Telegram Callback":{"main":[[{"node":"Apply Approval","type":"main","index":0}]]}},
  "settings":{"executionOrder":"v1"},"active":false,"versionId":"40000000-0000-4000-8000-000000000010","meta":{"templateCredsSetupCompleted":false},"tags":[]
}
