n8n/editorial/05-publisher.json
{
  "name":"DW Editorial 05 - Publisher",
  "nodes":[
    {"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"50000000-0000-4000-8000-000000000001","name":"Every minute","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-520,0]},
    {"parameters":{"method":"GET","url":"={{ $env.SUPABASE_URL + '/rest/v1/publication_jobs?status=eq.queued&order=created_at.asc&limit=20' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"}]},"options":{}},"id":"50000000-0000-4000-8000-000000000002","name":"Load Queued Jobs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-280,0]},
    {"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.channel }}","rightValue":"site","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"site"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.channel }}","rightValue":"telegram","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"telegram"}]},"options":{}},"id":"50000000-0000-4000-8000-000000000003","name":"Channel Adapter","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-40,0]},
    {"parameters":{"method":"POST","url":"={{ $env.DENS_SITE_URL + '/api/integrations/revalidate' }}","options":{}},"id":"50000000-0000-4000-8000-000000000004","name":"Website Publisher","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,-90]},
    {"parameters":{"chatId":"={{ $env.TELEGRAM_PUBLIC_CHAT_ID }}","text":"={{ $json.payload.telegramText }}","additionalFields":{}},"id":"50000000-0000-4000-8000-000000000005","name":"Telegram Publisher","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,90]},
    {"parameters":{"content":"Use job.id as the idempotency key. After each adapter, report success/failure to /api/integrations/publications with HMAC. X, Reddit and Threads are intentionally absent from v1.","height":110,"width":500},"id":"50000000-0000-4000-8000-000000000006","name":"Publisher Contract","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,240]}
  ],
  "connections":{"Every minute":{"main":[[{"node":"Load Queued Jobs","type":"main","index":0}]]},"Load Queued Jobs":{"main":[[{"node":"Channel Adapter","type":"main","index":0}]]},"Channel Adapter":{"main":[[{"node":"Website Publisher","type":"main","index":0}],[{"node":"Telegram Publisher","type":"main","index":0}]]}},
  "settings":{"executionOrder":"v1"},"active":false,"versionId":"50000000-0000-4000-8000-000000000010","meta":{"templateCredsSetupCompleted":false},"tags":[]
}
